{% extends "web.html" %}

{% block agregarPago %}
<section>
    <h3>AGREGAR PAGOS</h3>
    <form>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <label>PRODUCTO</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <label class="">MONTO</label>
                    <input type="text" class="form-control">
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <label>CATEGORIA</label>
                    <select id="banco" class="form-control">
                        {% for categoria in categorias %}
                        <option>{{categoria.categoria}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                    <label>QUIEN DEBE</label>
                    <select id="banco" class="form-control">
                        {% for usuario in usuarios %}
                            <option>{{usuario.nombre}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div style="text-align: right; margin-top: 20px; color: blue">
                <a> + AGREGAR OTRO DEUDOR</a>
            </div>


            <div style="text-align: right; margin-top: 20px; color: white">
                <a class="btn btn-primary"> AGREGAR PAGOS </a>
            </div>
    </form>

</section>
{% endblock agregarPago %}