{% extends "web.html" %}

{% block consolidarDeuda %}
<section>
    <h2>CONSOLIDAR DEUDA</h2>
    <hr>
    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TOTAL PAGADO</th>
                    <th scope="col">TOTAL ADEUDADO</th>
                    <th scope="col">SALDO</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>$230.000</td>
                    <td>$23.000</td>
                    <td>+$230.000</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">DEUDOR</th>
                    <th scope="col">FECHA</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for deuda in deudas %}
                    {% if deuda.aceptacion == 0 %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{deuda.producto}}</td>
                        <td>$ {{deuda.monto}}</td>
                        <td>{{deuda.acreedor}}</td>
                        <td>{{deuda.fecha_agregado}}</td>
                        <td>
                            <div style="float:right">
                                <button type="button" class="btn btn-primary"
                                    style="float: right;margin-right: 20px;">CONSOLIDAR</button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock consolidarDeuda %}