{% extends "web.html" %}

{% block reporte %}
<section>
    <h2>MI CUENTA</h2>
    <hr>
    <form>
        <div class="container">
            {% for item in usuarios %}
                {% if item.user == user.username %}
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">NOMBRE</label>
                        <input type="text" class="col-md-6 col-sm-6 col-lg-6 form-control" value="{{item.nombre}}">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">Numero de cuenta</label>
                        <input type="text" class="col-md-6 col-sm-6 col-lg-6 form-control" value="{{item.cuenta}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">APELLIDO</label>
                        <input type="text" class="col-md-6 col-sm-6 col-lg-6 form-control " value="{{item.apellido}}">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">BANCO</label>
                        <select id="banco" class="form-control">
                            <option selected>{{item.banco}}</option>
                            {% for banco in bancos %}
                                <option selected>{{banco.banco}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">E-MAIL</label>
                        <input type="email" class="col-md-6 col-sm-6 col-lg-6" value="{{item.email}}">
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">TIPO DE CUENTA</label>
                        <select id="cuenta" class="form-control">
                            <option selected>{{item.tipo_cuenta}}</option>
                            {% for tipo in tipoCuentas %}
                                <option selected>{{tipo.tipo}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <!--
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">PASSWORD</label>
                        <input type="text" class="col-md-6 col-sm-6 col-lg-6 form-control" value="{{item.password}}">
                    </div>
                    -->
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label class="col-md-6 col-sm-6 col-lg-6">R.U.T</label>
                        <input type="text" class="col-md-6 col-sm-6 col-lg-6 form-control" value="{{item.rut}}">
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>


        <div style="text-align: right; margin-right: 20%; margin-top: 5%">
            <button type="submit" class="btn btn-primary">GUARDAR</button>
        </div>
    </form>

</section>
{% endblock reporte %}