{% extends "web.html" %}

{% block consolidarDeuda %}
<section>
    <h2>MIS DEUDAS</h2>
    <hr>
    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">DEUDOR</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ACCION</th>
                </tr>
            </thead>
            <tbody>
                {% for deuda in deudas %}
                    {% if deuda.aceptacion == 1 %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{deuda.producto}}</td>
                            <td>$ {{deuda.monto}}</td>
                            <td>{{deuda.acreedor}}</td>
                            <td>{{deuda.fecha_agregado}}</td>
                            <td>
                                <a type="button" class="btn btn-primary" href="pagarDeuda">PAGAR</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock consolidarDeuda %}