{% extends "web.html" %}

{% block home %}
<section>
    <h2>DASHBOARD</h2>
    <hr>

    <!--
    <div class="container">
        <div class="row" style="float: right;">
            <div class="col">
                <a class="btn btn-primary" style="float: right" href="agregarPago">PAGO</a>
            </div>
            <div class="col">
                <a type="button" class="btn btn-primary" style="float: right">DEUDAS</a>
            </div>
        </div>
    </div>
    -->

    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TOTAL PAGADO</th>
                    <th scope="col">TOTAL ADEUDADO</th>
                    <th scope="col">PAGOS PENDIENTES A APROBAR</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>$230.000</td>
                    <td>$23.000</td>
                    <td>$230.000</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock home %}