{% extends "web.html" %}

{% block pagarDeuda %}
<section>
    <h3>PAGAR DEUDA</h3>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <form>
                    {% for item in usuarios %}
                        {% if item.user != user.username %}
                            <a>
                                Vas a pagar $3.700 por una compra de pollo ensalada a {{item.nombre}} realizada el 10/12/2018.
                            </a>
                        {% endif%}
                    {% endfor%}

                    <div style="margin-top: 10px">
                        <div>
                            <label>NUMERO DE TRANSACCION</label>
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <label>COMENTARIO (OPCIONAL)</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>


                        <div style="text-align: right; margin-top: 20px; color: white">
                            <a class="btn btn-primary"> AGREGAR PAGOS </a>
                        </div>
                    </div>
                </form>
            </div>

            <div style="margin-top: 90px" class="col-4">
                {% for item in usuarios %}
                {% if item.user != user.username %}
                <ul>
                    <li>
                        Numero de Cuenta: {{item.cuenta}}
                    </li>
                    <li>
                        Banco: {{item.banco}}
                    </li>
                    <li>
                        Tipo Cuenta: {{item.tipo_cuenta}}
                    </li>
                    <li>
                        RUT: {{item.rut}}
                    </li>
                </ul>
                {% endif%}
                {% endfor%}
            </div>
        </div>
    </div>
</section>
{% endblock pagarDeuda %}