{% extends "web.html" %}

{% block gastos %}
<section>
    <h2>MIS GASTOS</h2>
    <hr>

    <!--
    <div class="container">
        <div class="row" style="float: right;">
            <div class="col">
                <a class="btn btn-primary" style="float: right" href="agregarPago">PAGO</a>
            </div>
        </div>
    </div>
    -->

    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">DEUDOR</th>
                    <th scope="col">FECHA</th>
                </tr>
            </thead>
            <tbody>
                {% for gasto in gastos %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{gasto.producto}}</td>
                    <td>$ {{gasto.monto}}</td>
                    <td>{{gasto.acreedor}}</td>
                    <td>{{gasto.fecha_agregado}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div style="text-align: right; font-weight: bold">
            <a>TOTAL PAGADO:</a>
            <a> $129.000</a>
        </div>
    </div>
</section>
{% endblock gastos %}