{% extends "web.html" %}

{% block pagosRecibidos %}
<section>
    <h2>PAGOS RECIBIDOS</h2>
    <hr>
    <div class="table-responsive">
        <table class="table" style="margin-top: 80px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">PRODUCTO</th>
                    <th scope="col">MONTO</th>
                    <th scope="col">DEUDOR</th>
                    <th scope="col">FECHA</th>
                    <th scope="col">ACCION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>PRODUCTO PRUEBA</td>
                    <td>$23.000</td>
                    <td>PRUEBA</td>
                    <td>30/06/2019</td>
                    <td>
                        <button type="button" class="btn btn-primary">APROBAR PAGO</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
{% endblock pagosRecibidos %}