{% extends "web.html" %}

{% block reporte %}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['MONTO', 'PAGOS', 'DEUDAS'],
            ["$100", 100, 200],
            ['$1000', 1000, 500],
            ['$10000', 10000, 20000],
            ['$100000', 100000, 540]
        ]);

        var options = {
            title: '',
            curveType: 'function',
            legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
    }
</script>

<section>
    <h2>PAGOS RECIBIDOS</h2>
    <hr>
    <h3>PAGADO/ADEUDADO</h3>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div style="text-align: center">
                            <div id="curve_chart" style="width: 100%; height: 500px"></div>
                        </div>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</section>

{% endblock reporte %}