{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}
    {% endblock extra_css %}

</head>

<body>
    <section style="padding: 0.5%">
        <ul class="topnav">
            <li>
                <div style="text-align: center; margin-right: 10px">
                    <img src="{% static 'img/logo.png' %}" height="50px" width="120px">
                </div>
            </li>
            <li><a class="active" href="home">Home</a></li>
            <li><a href="pagos">MIS GASTOS</a></li>
            <li><a href="deudas">MIS DEUDAS</a></li>
            <li><a href="pagosRecibidos">PAGOS RECIBIDOS</a></li>
            <li><a href="consolidarDeuda">CONSOLIDAR DEUDA</a></li>
            <li><a href="reporte">REPORTE</a></li>
            <li class="right"><a href="">SALIR</a></li>
            <li class="right"><a href="cuenta">{{user}}</a></li>
        </ul>
    </section>

    <div style="padding: 10%">
        {% block home %}
        {% endblock home %}

        {% block gastos %}
        {% endblock gastos %}

        {% block deudas %}
        {% endblock deudas %}

        {% block pagosRecibidos %}
        {% endblock pagosRecibidos %}

        {% block consolidarDeuda %}
        {% endblock consolidarDeuda %}

        {% block reporte %}
        {% endblock reporte %}

        {% block agregarPago %}
        {% endblock agregarPago %}

        {% block pagarDeuda %}
        {% endblock pagarDeuda %}
    </div>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>


</html>